#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #701886;
}


body {
  font-family: sans-serif;
  background-color: #f0f4f8;
  color: #701886;
  margin: 0;
  padding: 0;
}


table {
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

tr th, tr td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr th {
  background-color: #7c0606;
  color: white;
}

tr td {
  color: #22079b;
}

tr:hover {
  background-color: #f5f5f5;
}


input, button, select {
  font-family: Arial;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

input, select {
  border-color: #562d6e;
}

button {
  background-color: #afa84c;
}

button:hover {
  background-color: #45a049;
}
